APP_URL=https://pay.ironair.com.br
ASAAS_ENV=sandbox
ASAAS_API_KEY=
ASAAS_WEBHOOK_TOKEN=
SHOPIFY_SHOP=iron-air-brasil-ltda.myshopify.com
IRON_AIR_STORE_ORIGIN=https://ironair.com.br
IRON_AIR_PRODUCT_HANDLE=iron-air
PUBLIC_META_PIXEL_ID=1605257171025393
PUBLIC_GA_MEASUREMENT_ID=
