APP_URL=https://pay.ironair.com.br
ASAAS_ENV=sandbox
ASAAS_API_KEY=
ASAAS_WEBHOOK_TOKEN=
SHOPIFY_SHOP=iron-air-brasil-ltda.myshopify.com
IRON_AIR_STORE_ORIGIN=https://ironair.com.br
IRON_AIR_PRODUCT_HANDLE=iron-air
PUBLIC_META_PIXEL_ID=1605257171025393
PUBLIC_GA_MEASUREMENT_ID=
BASE_ENV=sandbox
BASE_API_URL=https://api-sandbox.baseerp.com.br
BASE_API_KEY=
BASE_API_TIMEOUT_MS=10000
BASE_ALLOW_WRITES=false
BASE_SYNC_ENABLED=false
BASE_ASAAS_BANK_ID=
BASE_PRODUCT_MAP_JSON={"IRON-AIR-127V":100704254,"IRON-AIR-220V":100704255}
